@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #98b5ff;
}
.wrapper {
    width: 100%;
    height: 600px;
    max-width: 450px;
    margin: 120px auto;
    background: #2e4997;
    border-radius: 25px;
    padding: 25px;
}
.wrapper header {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
.wrapper .input{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    display: flex;
}
.input input{
    width: 85%;
    height: 100%;
    padding-left:15px;
    font-size: 18px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
}
.input button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #ea05fe;
    color: #fff;  
    cursor: pointer;
    border-radius:3px ;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 300;
    opacity: 0.6;
    pointer-events: none;
}
.input button.active{
   opacity: 1;
    pointer-events: auto;
}
.wrapper .h4{
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
}
.wrapper .todoList{
    max-height: 350px;
    overflow-y: auto;
}
.todolist li{
    list-style: none;
   position: relative;
    width: 340px;
    height: 60px;
    background-color: #28116e;
    color: #c6aac9;
    padding: 0 15px; 
    line-height: 60px;
    border-radius: 20px;
    margin-bottom: 8px;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: default;
    overflow: hidden;

}
.todolist li i{
    position: absolute;
    right: -30px;
    top: 30%;
    transform: translateY(-50%,-50%);
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition:all 0.3s ease;
}
.todolist li:hover i{
    right:0px;

}
.wrapper .footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;

}
.footer span{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    
}
.footer button{
    padding: 6px 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background: #320136;
    color: rgba(255, 255, 255, 0.5);  
    cursor: pointer;
    border-radius: 3px;
     opacity: 0.6;
    pointer-events: none;
}
.footer button:hover{
   opacity: 1;
    pointer-events: auto;
}